@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #5356FF;
    text-align: center;
    margin: 50px 0 30px 0;

    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

form {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 auto 50px auto;
}

#todo {
    width: 100%;
    color: #5356FF;
    outline: none;
    padding: 15px 10px;
    border: solid 3px #5356FF;
}

form>input[type="submit"] {
    outline: none;
    padding: 10px;
    color: whitesmoke;
    border: solid 3px #5356FF;
    background-color: #5356FF;
}

form>input[type="submit"]:hover,
.delete:hover {
    cursor: pointer;
}

ul {
    width: 400px;
    margin: 0 auto;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #378CE7;
    padding: 15px 1px;
}

li:first-child {
    border-top: solid 3px #378CE7;
}

li:last-child {
    border-bottom: solid 3px #378CE7;
}

li:hover {
    background-color: whitesmoke;
}

p {
    color: #5356FF;
    font-size: 0.8em;
}

.delete {
    width: 24px;
    height: 24px;
    color: #5356FF;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}